version: '3'

services:
    node:
        build:
            context: .
            args:
                SSH_MASTER_USER: ${SSH_MASTER_USER}
                SSH_MASTER_PASS: ${SSH_MASTER_PASS}
        hostname: node
        container_name: node
        restart: always
        networks:
          ansible_net:
             ipv4_address:172.20.0.4
        ports:
            - "2222:22"
            - "2008:80"
            - "2000:8000"
            - "2001:8080"
    node1:
       build:
           context: .
           args:
               SSH_MASTER_USER: ${SSH_MASTER_USER}
               SSH_MASTER_PASS: ${SSH_MASTER_PASS}
       hostname: node1
       container_name: node1
       restart: always
       networks:
         ansible_net:
            ipv4_address:172.20.0.5
       ports:
           - "1222:22"
           - "1008:80"
           - "1000:8000"
           - "1001:8080"
    db:
       build:
           context: .
           args:
               SSH_MASTER_USER: ${SSH_MASTER_USER}
               SSH_MASTER_PASS: ${SSH_MASTER_PASS} 
       hostname: db
       container_name: db
       restart: always
       networks:
          ansible_net:
             ipv4_address:172.20.0.3
       ports:
           - "8222:22"
           - "8008:80"
           - "8000:8000"
           - "8001:8080"
           - "3306:3306"
    lb:
       build:
           context: .
           args:
               SSH_MASTER_USER: ${SSH_MASTER_USER}
               SSH_MASTER_PASS: ${SSH_MASTER_PASS}
       hostname: lb
       container_name: lb
       restart: always
       networks:
          ansible_net:
             ipv4_address:172.20.0.2
       ports:
           - "5222:22"
           - "5008:80"
           - "5000:8000"
           - "5001:8080"

networks:
  ansible_net:
    driver: bridge
    ipam:
      driver: default
      config:
      -
        subnet: 172.16.0.0/16